@font-face {
  font-family: 'Barlow Light';
  src: url(/font/Barlow-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Barlow Regular';
  src: url(/font/Barlow-Regular.ttf) format('truetype');
}

@media only screen and (max-width: 1499px){

  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Barlow Regular";
  }
  
}

@media only screen and (min-width: 1500px) {

  .container {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Barlow Regular";
  }
  
}